src/__pycache__/utils_buffer.cpython-37.pyc
src/checkpoints/
src/data/__pycache__/elegans_loader.cpython-37.pyc
src/kernels/
src/output/
src/models/__pycache__/UniNet.cpython-37.pyc
src/models/__pycache__/atention_utils.cpython-37.pyc
src/models/__pycache__/efficient_ete.cpython-37.pyc
src/models/__pycache__/effnet_longformer.cpython-37.pyc
src/models/__pycache__/effnetv2.cpython-37.pyc
src/models/__pycache__/metaformer_baselines.cpython-37.pyc
src/models/__pycache__/model_utils.cpython-37.pyc
src/models/__pycache__/swin_transformer.cpython-39.pyc
src/models/__pycache__/vit.cpython-37.pyc
src/wandb/
src/data/__pycache__
src/models/__pycache__