swin-transformer/__pycache__/main.cpython-37.pyc
swin-transformer/__pycache__/utils_buffer.cpython-37.pyc
swin-transformer/checkpoints/
swin-transformer/data/__pycache__/elegans_loader.cpython-37.pyc
swin-transformer/kernels/
swin-transformer/output/
swin-transformer/models/__pycache__/UniNet.cpython-37.pyc
swin-transformer/models/__pycache__/atention_utils.cpython-37.pyc
swin-transformer/models/__pycache__/efficient_ete.cpython-37.pyc
swin-transformer/models/__pycache__/effnet_longformer.cpython-37.pyc
swin-transformer/models/__pycache__/effnetv2.cpython-37.pyc
swin-transformer/models/__pycache__/metaformer_baselines.cpython-37.pyc
swin-transformer/models/__pycache__/model_utils.cpython-37.pyc
swin-transformer/models/__pycache__/swin_transformer.cpython-39.pyc
swin-transformer/models/__pycache__/vit.cpython-37.pyc
swin-transformer/wandb/
swin-transformer/__pycache__
swin-transformer/data/__pycache__
swin-transformer/models/__pycache__